<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>hue-alfred-workflow-beta</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>024CCF2C-F278-4295-B1AF-CCF8771F79AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>216B830D-985E-4E88-B42E-AC3AFE11AC21</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CBAE417B-F9BC-4DEB-A01B-A2E729DD1ED0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B6CCCE87-79BC-4AA7-9CBB-2597A4C7D3CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1218287C-8BB7-435C-83CD-1DC8081A0C37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6CCCE87-79BC-4AA7-9CBB-2597A4C7D3CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>274AB270-3B30-4744-B33C-508212353A56</key>
		<array/>
		<key>3426060E-85F9-42F6-9FA9-92EBE5963CD9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>683DB2DE-3129-486D-90E8-B0532EBF4D4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3E49D8E7-3290-4C0F-A00E-31A96C8DA163</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E57B0A2C-A834-4643-B74F-E32927BF48CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4B22B303-EA83-48BF-ADA1-18AED375F4D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFDFE33B-7FFC-4F4D-A692-80C56EDFF968</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>517BCCFE-0B24-48A1-A019-1471DB18E3A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D69F41A-8981-4080-980D-F984DD9CE85B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>53DB8697-A27B-4433-841D-D847CC3905B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2245721-B362-426E-A943-97701EAE71B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>59765BEC-5EE9-41D5-A8A4-95CE1D7ECF4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6CCCE87-79BC-4AA7-9CBB-2597A4C7D3CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>62903C5A-21C6-47FB-A9F0-35B92C272F84</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B22B303-EA83-48BF-ADA1-18AED375F4D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>67253DA0-F54B-417D-840C-117A8D921040</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BAD227D0-EBFB-4C7B-9013-F7DC3229132B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9112893F-94DE-496F-AC54-B3DCB3151403</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6CCCE87-79BC-4AA7-9CBB-2597A4C7D3CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B1DF4D20-E372-4FC8-A6EC-BDF019D27CCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>274AB270-3B30-4744-B33C-508212353A56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B2245721-B362-426E-A943-97701EAE71B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFDFE33B-7FFC-4F4D-A692-80C56EDFF968</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B6CCCE87-79BC-4AA7-9CBB-2597A4C7D3CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFDFE33B-7FFC-4F4D-A692-80C56EDFF968</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E57B0A2C-A834-4643-B74F-E32927BF48CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFDFE33B-7FFC-4F4D-A692-80C56EDFF968</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Benjamin Knight</string>
	<key>description</key>
	<string>Control Philips Hue lights with Alfred.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Philips Hue Controller v2.4.1</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>function color_picker($lid) {
    $hex = `./colorpick -startColor ffffff -mode 6`;
    return `osascript -e 'tell application "Alfred 2" to search "hue lights:$lid:color:$hex"'`;
}

$q = &lt;&lt;&lt;EOD
{query}
EOD;

if (stripos($q, 'colorpicker') !== false):
	$control = explode(':', $q);
	$lid = $control[1];
	color_picker($lid);
endif;</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>216B830D-985E-4E88-B42E-AC3AFE11AC21</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>hue</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Connecting to bridge...</string>
				<key>script</key>
				<string>python -m logic.filters "{query}"</string>
				<key>subtext</key>
				<string>Control the state of Hue lights.</string>
				<key>title</key>
				<string>Philips Hue Controller</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>024CCF2C-F278-4295-B1AF-CCF8771F79AB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>if [ "{query}" = "help" ]; then
	open 'https://github.com/benknight/hue-alfred-workflow/blob/master/README.md#philips-hue-controller-for-alfred-2'
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CBAE417B-F9BC-4DEB-A01B-A2E729DD1ED0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>lights:all:on</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1218287C-8BB7-435C-83CD-1DC8081A0C37</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>import logic.api

IGNORE_QUERIES = ('colorpicker', 'help')

query = r'''{query}'''

if not query.startswith(IGNORE_QUERIES):
	api = logic.api.HueAPI()
	api.execute(query)</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B6CCCE87-79BC-4AA7-9CBB-2597A4C7D3CC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Hue</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CFDFE33B-7FFC-4F4D-A692-80C56EDFF968</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>lights:all:off</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>59765BEC-5EE9-41D5-A8A4-95CE1D7ECF4A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>lights:all:color:random</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9112893F-94DE-496F-AC54-B3DCB3151403</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>-hue save-preset</string>
				<key>subtext</key>
				<string>Save the current group state so that it can be set later on.</string>
				<key>text</key>
				<string>Save current state as a preset...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>62903C5A-21C6-47FB-A9F0-35B92C272F84</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>import logic.presets
query = r'''{query}'''
logic.presets.save(query)</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4B22B303-EA83-48BF-ADA1-18AED375F4D1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>1</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>hue presets</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>340D3F81-8E79-431F-962F-EB8299BB0B6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>-hue set-group</string>
				<key>subtext</key>
				<string>Change which lights the Hue workflow controls.  For example: 1,2,4.  For all lights, set to 0.</string>
				<key>text</key>
				<string>Set Hue group to...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>53DB8697-A27B-4433-841D-D847CC3905B4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>import logic.setup
query = r'''{query}'''
logic.setup.set_group(query)
</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B2245721-B362-426E-A943-97701EAE71B0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>-hue set-bridge</string>
				<key>subtext</key>
				<string>Press the button on the bridge then use this to enable the workflow. Optionally specify the bridge's IP.</string>
				<key>text</key>
				<string>Link with Hue bridge</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3E49D8E7-3290-4C0F-A00E-31A96C8DA163</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>import logic.setup
query = r'''{query}'''
logic.setup.setup(query)</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E57B0A2C-A834-4643-B74F-E32927BF48CE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python -c "from logic.packages import alp; print '\"%s\"' % alp.storage(join='presets')" | xargs open</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>274AB270-3B30-4744-B33C-508212353A56</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>-hue show-presets</string>
				<key>subtext</key>
				<string>Use this to delete, rename, or backup presets.</string>
				<key>text</key>
				<string>Open presets storage</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B1DF4D20-E372-4FC8-A6EC-BDF019D27CCD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>-hue config</string>
				<key>subtext</key>
				<string>Use this to manually reset configuration values.</string>
				<key>text</key>
				<string>Edit workflow config</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>517BCCFE-0B24-48A1-A019-1471DB18E3A9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python -c "from logic.packages import alp; print '\"%s\"' % alp.storage(join='settings.json')" | xargs open</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3D69F41A-8981-4080-980D-F984DD9CE85B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>-hue update</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Checking for updates...</string>
				<key>script</key>
				<string>python -m logic.update</string>
				<key>subtext</key>
				<string>Stay up to date with the latest bug fixes and features.</string>
				<key>title</key>
				<string>Check for updates</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3426060E-85F9-42F6-9FA9-92EBE5963CD9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>683DB2DE-3129-486D-90E8-B0532EBF4D4D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://github.com/benknight/hue-alfred-workflow/blob/master/README.md#philips-hue-controller-for-alfred-2</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BAD227D0-EBFB-4C7B-9013-F7DC3229132B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>-hue about</string>
				<key>subtext</key>
				<string>Opens the Github page for this workflow.</string>
				<key>text</key>
				<string>About</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>67253DA0-F54B-417D-840C-117A8D921040</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>https://github.com/benknight/hue-alfred-workflow/blob/master/README.md</string>
	<key>uidata</key>
	<dict>
		<key>024CCF2C-F278-4295-B1AF-CCF8771F79AB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>1218287C-8BB7-435C-83CD-1DC8081A0C37</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>216B830D-985E-4E88-B42E-AC3AFE11AC21</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>274AB270-3B30-4744-B33C-508212353A56</key>
		<dict>
			<key>ypos</key>
			<real>720</real>
		</dict>
		<key>340D3F81-8E79-431F-962F-EB8299BB0B6E</key>
		<dict>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>3426060E-85F9-42F6-9FA9-92EBE5963CD9</key>
		<dict>
			<key>ypos</key>
			<real>920</real>
		</dict>
		<key>3D69F41A-8981-4080-980D-F984DD9CE85B</key>
		<dict>
			<key>ypos</key>
			<real>820</real>
		</dict>
		<key>3E49D8E7-3290-4C0F-A00E-31A96C8DA163</key>
		<dict>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>4B22B303-EA83-48BF-ADA1-18AED375F4D1</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>517BCCFE-0B24-48A1-A019-1471DB18E3A9</key>
		<dict>
			<key>ypos</key>
			<real>820</real>
		</dict>
		<key>53DB8697-A27B-4433-841D-D847CC3905B4</key>
		<dict>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>59765BEC-5EE9-41D5-A8A4-95CE1D7ECF4A</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>62903C5A-21C6-47FB-A9F0-35B92C272F84</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>67253DA0-F54B-417D-840C-117A8D921040</key>
		<dict>
			<key>ypos</key>
			<real>1020</real>
		</dict>
		<key>683DB2DE-3129-486D-90E8-B0532EBF4D4D</key>
		<dict>
			<key>ypos</key>
			<real>920</real>
		</dict>
		<key>9112893F-94DE-496F-AC54-B3DCB3151403</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>B1DF4D20-E372-4FC8-A6EC-BDF019D27CCD</key>
		<dict>
			<key>ypos</key>
			<real>720</real>
		</dict>
		<key>B2245721-B362-426E-A943-97701EAE71B0</key>
		<dict>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>B6CCCE87-79BC-4AA7-9CBB-2597A4C7D3CC</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>BAD227D0-EBFB-4C7B-9013-F7DC3229132B</key>
		<dict>
			<key>ypos</key>
			<real>1020</real>
		</dict>
		<key>CBAE417B-F9BC-4DEB-A01B-A2E729DD1ED0</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>CFDFE33B-7FFC-4F4D-A692-80C56EDFF968</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>E57B0A2C-A834-4643-B74F-E32927BF48CE</key>
		<dict>
			<key>ypos</key>
			<real>620</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/benknight/hue-alfred-workflow</string>
</dict>
</plist>
